[Unit]
Description=System Monitoring Agent
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/stress_monitor_user/agent.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
